DATABASE_NAME=massivo
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=123456
DB_PORT_EXTERNAL=5432

AWS_REGION=us-east-2
S3_KEY=test
S3_SECRET=test
S3_BUCKET=imports-bucket
S3_ENDPOINT=http://localhost:4566
SQS_ENDPOINT=http://localhost:4566
IMPORT_QUEUE_URL=http://localhost:4566/000000000000/import-jobs
